/*Texte dans le cas où il n'y a pas d'anciens prets a afficher*/
.noHistoric{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman';
    font-style: oblique 90deg;

}

/*Titre de la page*/
.titleMyHistoric{
    color: rgb(83, 4, 4);
    font-size: 70px;
    text-align: center;
    font-family: 'Times New Roman';
    margin: 80px;

}